


.btn-logoutt {
  background: #f39c12;
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  padding: 5px 15px;
}

.btn-guardar {
  background: #79AAB7;
  color: #fff;
  border-radius: 20px;
  padding: 8px 20px;
  border: none;
}

.btn-eliminar {
  background: #c0392b;
  color: #fff;
  border-radius: 20px;
  padding: 8px 20px;
  border: none;
}




