body {
      background: #ffffff;
      font-family: 'Poppins', sans-serif;
      color: #fff;
    }
    .card-custom {
      background: #f8f9fa;
      border-radius: 15px;
      padding: 30px;
      color: #000;
    }
    .btn-logout {
      background: #E39B44;
      border: none;
      color: #000000;
      font-weight: 600;
      border-radius: 20px;
      padding: 5px 15px;
    }
    .form-control {
      border-radius: 15px;
    }
    .container-box {
      max-width: 600px;
      margin: 50px auto;
      background: linear-gradient(to bottom right, #e8f0f8, #d2e1f3);
      border-radius: 20px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
       
    }
    .btn-guardar {
    background: #79AAB7;
    color: #fff;
    border-radius: 20px;
    padding: 8px 20px;
    border: none;
}