body {
      background: #ffffff;
      font-family: 'Poppins', sans-serif;
      color: #fff;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
    }

    /* ===== capa externa: "carpeta" o marco ===== */
    .container-layer {
      border-radius: 30px;
     box-shadow: 0 0 25px rgba(0,0,0,0.6);
    border-right: 10px solid #176F9E;
    overflow: hidden;
    }

    /* ===== caja interna: la tarjeta principal ===== */
    .container-box {
      width: 100%;
      max-width: 680px;
      background: linear-gradient(to bottom right, #e8f0f8, #d2e1f3);
       border-radius: 35px;
       box-shadow: 0 4px 15px rgba(0,0,0,0.2);
       border-right: 10px solid #79AAB7;
       overflow: hidden;
    }

    .card-custom {
      background: #ffffff;
      border-radius: 0 0 20px 20px;
      padding: 36px 30px;
      color: #000;
      position: relative;
    }

    .btn-logout {
      background: #f39c12;
      border: none;
      color: #fff;
      font-weight: 600;
      border-radius: 30px;
      padding: 8px 18px;
      
      
    
    }
  
    