/*Clases para tabla Kanban y columnas*/

.kanbanTable{
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
}

.column{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #EDEDED;

    border-radius: 20px;
    border-color: #176F9E;
    border-style: solid;
    border-width: 10px 2px 2px 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    height: 75vh;
}

.taskList{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border-color: #2286BB;
    border-style: solid;
    border-width: 2px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.taskList::-webkit-scrollbar {
    display: none;
}


/** Tarjeta de tareas**/

.taskCard {
  user-select: none;
  background-color: #EDEDED; 
  border-radius: 20px; 
  border-style: solid;
  border-width: 1.5px;
  padding: 12px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.taskCard::before {
  content: "";
  width: 20px;  
  height: 100%;  
  border-right: 1.5px solid black;
  background-color: #79AAB7; 
  border-radius: 20px 0 0 15px;  
  position: absolute;
  top: 0;
  left: 0;
}

.taskCard h4 {
  margin: 0;
  font-size: 20px; 
  font-weight: 600;
  font-family: Poppins, sans-serif;
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.taskCard hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #000000; 
  margin: 10px 0;
}

.descTask{
  margin: 5px 0;
  font-size: 15px;
  font-family: Poppins, sans-serif;
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}


.showList{
  display: none;
  margin-left: 10px;
}


/*Textos y títulos*/
.columnTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;

    background: #AED6E1;

    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.25);
    border-style: solid;
    border-width: 2px;
    padding: 5px 40px;
    margin: 15px;
}



/*Botones y contenedores*/

.btnOg{
    background: #E39B44;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 8px 40px;
    color: #000;
}

.tagRed{
  align-items: center;
  margin: 8px 0 0 0;
  text-align: center;
  background: #EF6B54;
  border-radius: 20px;
  padding: 7px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/*Ajustes para vista responsive (movil)*/
@media (max-width: 1000px) {
  .kanbanTable {
    flex-direction: column;
    align-items: center; 
  }

  .column {
    width: 90%; 
    height: auto; 
    margin-bottom: 20px; 
  }

  .taskList{
    height: 0px;
    column-gap: 20px;
    transition: height 1s;
    background-color:#50acde ;
  }

  .taskList > * {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
  }

  
  .taskList.active{
    height: 550px;
  }

  .taskList.active > * {
    visibility: visible; 
    animation: fadeIn 1s;

  }

  .taskCard {
   break-inside: avoid
  }

  .showList{
  display: inline;
  }
} 


@media (max-width: 530px) {

.taskList{
    height: 0px;
    transition: height 1s;
    background-color:#50acde ;
  }

  .taskList.active{
    height: 300px;
  }

  .columnTitle{
    font-size: 16px;
  }
}

/*Animaciones de vista para ocultar las tarjetas.*/
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0;}
  }

  
.tagYellow{
  margin: 8px 0 0 0;
  background: #F2D479;
  border-radius: 20px;
  padding: 7px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.generic_background{
    background-image:url(../images/generic_background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.chartTitle{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
}
    
.userSelector{
    padding: 8px 20px 8px;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    background-color: #58aedc;
    color: white;
    font-size: 20px;
}

    
    